<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Eristicminds</name>

  <description>
      Eristicminds is a platform that serves up political happenings, events, social gatherings and more to the public.
  </description>

  <author href="https://onostarmedia.com.ng" email="support@onostarmedia.com.ng">
      Onostar Media
  </author>
  <icon src="images/eristics.png" />

</widget>